* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form {
  display: flex;
  position: relative;
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  max-width: 620px;
  flex-grow: 1;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 9px;
  cursor: pointer;
}

.auth {
  margin-left: auto;
}

.login {
  background: #EBEBEB;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.shopping-card {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #F66A15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.shopping-counter {
  position: absolute;
  background: #FFAF19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  padding: 5px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

/* ######## Day 2 */

.slide {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
}

.slide-content {
  position: relative;
  max-width: 400px;
}

.slide-text-light {
  background: grey;
  color: #fff;
}

.slide-title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;
}

.slide-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.swiper {
  position: relative;
}
.slider-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  width: 100px;
}
.slider-button {
  cursor: pointer;
}

.button {
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 11px 50px;
  display: inline-block;
  text-decoration: none;
}

.button-default {
  background: #fff;
  color: #5F5F61;
}

.button-primary {
  background: #F47322;
  color: #fff;
}

.slide-summer {
  background-image: url('../img/summer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-autumn {
  background-image: url('../img/autumn-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamin {
  background-image: url('../img/vitamin-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-summer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url(.png);
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  flex: 50%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sweet-basket {
  margin-right: 54px;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(.png);
}

.card-text-light {
  color: #fff;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 21px;
}

.card-description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}

.card-delivery {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

/* ######## Day 3 */

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  margin: 15px;
}
.delivery-week {
   padding: 100px 0;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  top: 16px;
  left: 10px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  padding: 5px 10px;
}
.tag-health {
  background: #D0FD89;
}
.tag-vegetables {
  color: #fff;
  background: #AEBC41;
}
.tag-meat {
  color: #fff;
  background: #B86B78;
}
.tag-chiken {
  color: #fff;
  background: #D68334;
}
.tag-fish {
  color: #fff;
  background: #CD6255;
}
.tag-kids {
  background: #FFFDBF;
}
.tag-parents {
  background: #F6FDC8;
}
.tag-party {
  background: #FEF7FE;
}

.section-grey {
  background: #F6F6F6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs-list {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}
.tabs-link {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  text-decoration: none;
  margin-right: 58px;
}
.tabs-link.active {
  color: #F37321;
}
.tabs-card-content {
  display: flex;
  justify-content: space-between;
}
.tabs-card {
  max-width: 270px;
  padding: 23px 21px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}
.tabs-image {
  max-width: 100%;
}
.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}
.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
  display: block;
  margin-bottom: 5px;
}
.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-outline {
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #F37321;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F37321;
  cursor: pointer;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 45%;
  cursor: pointer;
}
.benefits {
  padding-top: 100px;
  padding-bottom: 202px;
}
.benefits-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.benefits-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-bottom: 52px;
}
.benefits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 30px 24px 25px 24px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}
.benefits-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin: 0;
  margin-top: 34px;
}
.benefits-card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-top: 13px;
  color: #49494F;
}

.footer {
  padding: 40px 0;
  background: #F6F6F6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  margin-right: 50px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}

@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .tabs-list {
    margin-bottom: 25px;
  }
  .tabs-card-content {
    flex-wrap: wrap;
  }
  .tabs-card {
    max-width: calc(50% - 30px);
    margin-top: 37px;
  }
  .benefits-title {
    margin-bottom: 25px;
  }
  .benefits-content {
    flex-wrap: wrap;
  }
  .benefits-card {
    width: calc(50% - 30px);
    margin-top: 37px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .slide {
    padding: 60px;
  }
  .delivery-card {
    width: calc(50% - 30px);
  }
  .footer-link {
    margin-right: 30px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .promo {
    flex-wrap: wrap;
  }
  .card {
    flex: 100%;
  }
  .sweet-basket {
    margin-right: 0;
    margin-bottom: 54px;
  }
  .footer-link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .logo .logo-image {
    width: 100px;
  }
  .shopping-card {
    margin-left: 20px;
  }
  .slide {
    padding: 30px;
    height: 450px;
  }
  .slide-summer {
    background-position: right;
  }
  .slide-autumn {
    background-position: right;
  }
  .slide-vitamin {
    background-position: 69% 100%;
  }
  .slide-title {
    font-size: 38px;
    line-height: 40px;
  }
  .slider-buttons {
    left: 29px;
    bottom: 15px;
  }
  .button {
    padding: 11px 25px;
  }
  .delivery-week {
    padding-top: 50px;
  }
  .tabs-link {
    margin-right: 16px;
  }
  .tabs-list {
    margin-bottom: 0;
  }
  .tabs-card {
    max-width: 100%;
  }
  .delivery-card {
    width: calc(100% - 30px);
  }
  .delivery-week {
    padding: 20px 0;
  }
  .button-center {
    width: 100%;
  }
  .benefits {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .benefits-card {
    width: 100%;
  }
  .footer-wrapper .footer-logo {
    width: 100px;
    margin-right: 30px;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .footer-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-link {
    display: block;
    margin: 0;
    text-align: center;
    padding: 5px 10px;
  }
  .social-links {
    margin: 0;
    justify-content: center;
  }
  .social-link {
    margin: 0;
    padding: 20px 10px;
  }
}










